<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ancely.fyw.aroute">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application>
        <provider
            android:name=".manager.AncelyContentProvider"
            android:authorities="com.ancely.fyw.aroute.pay.manager.AncelyContentProvider"
            android:exported="false"/>
    </application>
</manifest>
