<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ancely.fyw">

    <application
        android:name=".ComApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".touchevent.TouchEventActivity">

        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".aroute.proxy.ProxyActivity"
            android:theme="@style/AppTheme" />

        <activity android:name=".mvptext.SkinTestActivity"/>

        <activity android:name=".demo.InvokeOnClickActivity"/>
        <service
            android:name=".aroute.proxy.ProxyService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.ancely.fyw.aroute.proxy.Proxyservice" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>